<div class="posts index">
	<h2>Posts</h2>

	<%= link_to("Add New Post", {:action => 'new'}, :class => 'action new') %>
	
		<div class="container">
  			<div class="row">
    			<div class="col-xs-3"></div>
    				<div class="col-xs-9">
    					<div class="row">
						<% @posts.each do |post| %>
							<div class="col-xs-6 col-sm-3">
								<dl>
								  <dt><%= post.title %></dt>
								  <dd><%= post.tagline %></dd>
								  <dd><%= post.category %></dd>
								  <td class="actions">
								  <%= link_to("Show", {:action => 'show', :id => post.id}, :class => 'action show' ) %>
								  <%= link_to("Edit", {:action => 'edit', :id => post.id}, :class => 'action edit' ) %>
								</dl>
							</div>
						<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>


